.card__title {
    margin: 10px auto 20px;
    width: fit-content;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 50%;
    font-family: 'Changa', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    line-height: 22px;
    font-weight: normal;
    font-style: normal;
}