@import url('../vendor/normalize.css');
@import url('../vendor/fonts/changa/changa.css');
@import url('../blocks/body/body.css');
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/header/__title/header__title.css');
@import url('../blocks/header/__subtitle/header__subtitle.css');
@import url('../blocks/main/main.css');
@import url('../blocks/card/__image-content/card__image-content.css');
@import url('../blocks/card/card.css');
@import url('../blocks/card/__text/card__text.css');
@import url('../blocks/card/__text/_year/card__text_yaer.css');
@import url('../blocks/card/__text/_alt/card__text_alt.css');
@import url('../blocks/card/__title/card__title.css');
@import url('../blocks/card/__nav/card__nav.css');
@import url('../blocks/card/__link/card__link.css');
@import url('../blocks/card/__descritption/card__description.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__copyright/footer__copyright.css');